@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
}

.slider {
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    position: relative;
    font-family: Monomakh;
}

.rgbKineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

nav a {
    position: absolute;
    top: 46vh;
    z-index: 1;
    padding: 20px;
    transition: .3s;
    background: #000;
    color: #fff;
}

nav a.next {
    right: 10vw;
}
nav a.prev {
    left: 10vw;
}

@media screen and (max-width: 52em) {
    nav a {
        top: auto;
        bottom: 3rem;
    }
}



















